.App {
	border: 15px solid #36151e;
	background-size: cover;
	max-height: fit-content;
	min-height: 100vh;
	text-align: center;
	/* padding-bottom: 20px; */
}

.single-project h3 {
	font-weight: bold;
	text-decoration: underline;
}
.resume {
	height: 80vh;
}

.single-project a {
	color: rgb(73, 29, 231);
	text-decoration: underline;
}
.contact a {
	color: rgb(73, 29, 231);
	text-decoration: underline;
}
.single-project p {
	padding-right: 10vw;
	padding-left: 10vw;
}

.sidebar {
	background-color: #86739f;
}

.sidebar p {
	display: inline;
	padding: 10px;
}
.sidebar img {
	margin-top: 20px;
	margin-bottom: 10px;
	height: 100px;
}
nav {
	background-color: #86739f;
	padding: 10px 0;
}
nav p {
	color: black;
}

.desc {
	padding-top: 10px;
	max-width: 400px;
}

.about-me {
	text-align: left;
	padding-left: 5vw;
}


.about-me p {
	padding-right: 10vw;
	padding-bottom: 15px;
}
.about-me h4 {
	padding-left: 3vw;
	padding-bottom: 10px;
}

.home p {
	padding-top: 5px;
}
h4 a {
	text-decoration: none;
}



ul {
	list-style: none;
}

h3 {
	padding: 20px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.projects a:hover {
	transform: scale(1.01);
	background-color: #86739f;
}

.project {
	padding-top: 10px;
}

.projects img {
	padding: 10px;
}

@media only screen and (max-width: 600px) {
	.App {
		border: none;
		width: 100vw;
	}

	.home {
		text-align: center;
	}
	.home h1 {
		padding: none;
	}
	.home h2 {
		padding: none;
	}
	.home h3 {
		padding: none;
	}
	.sidebar p {
		padding-right: 10px;
		font-weight: bold;
	}
	.sidebar {
		float: initial;
		min-height: 20px;
		width: 100vw;
	}
	.sidebar nav {
		display: inline-flex;
	}
}
