.App {
	background-size: cover;
	max-height: fit-content;
	min-height: 100vh;
	background-color: #121212;
	color: aliceblue;
	padding-bottom: 20px;
}

.sidebar {
	text-align: center;
}


.single-project h3 {
	font-weight: bold;
	text-decoration: underline;
}


.single-project a {
	text-decoration: none;
	color: aliceblue;
}
.single-project a:hover {
	background-color: #e3dee9;
	color: #121212;
}
.contact a {
	text-decoration: none;
	color: aliceblue;
}

.contact a:hover {
	background-color: #e3dee9;
	color: #121212;
}

.single-project p {
	padding-right: 1em;
	padding-left: 1em;
}

.single-project h3 {
	text-align: center;
}

.single-project a {
	padding-right: 1em;
	padding-left: 1em;
}
li {
	padding-right: 1em;
	padding-left: 1em;
}

.sidebar p {
	display: inline;
	padding: 10px;
	color: aliceblue;
}
.sidebar img {
	margin-top: 20px;
	margin-bottom: 10px;
	height: 20em;
}
nav {
	
	padding: 10px 0;
}
nav p {
	color: black;
}

nav p:hover {
	background-color: #e3dee9;
	color: #121212;
}

.desc {
	padding-top: 10px;
	max-width: 400px;
}

.home {
	text-align: left;
	padding-left: 5vw;
}

.single-project {
	text-align: left;
	padding-left: 5vw;
}

h3 {text-align: center;}

.home p {
	padding-right: 10vw;
	padding-bottom: 15px;
	padding-left: 1em;
}
.projects_container h4 {
	padding-left: 3vw;
	padding-bottom: 10px;
}

.projects_container p {
	padding-top: 5px;
}
h4 a {
	text-decoration: none;
}


ul {
	list-style: none;
	text-decoration: none;
	padding: 0;
}

h3 {
	padding: 20px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.project:hover {
	transform: scale(1.01);
}

.project {
	padding-top: 10px;
	color: #121212;
	opacity: 90%;
}

.projects img {
	padding: 10px;
}

.contact {
	text-align: center;
}

.resume {
	text-align: center;
}



@media only screen and (max-width: 600px) {
	.App {
		border: none;
		width: 100vw;
	}

	.home h1 {
		padding: none;
	}
	.home h2 {
		padding: none;
	}
	.home h3 {
		padding: none;
	}
	.sidebar p {
		padding-right: 10px;
		font-weight: bold;
	}
	.sidebar {
		float: initial;
		min-height: 20px;
		width: 100vw;
	}
	.sidebar nav {
		display: inline-flex;
	}
	li {
		padding-left: 1em;
	}
	.resume img {
		max-width: 99%;
	}
}
